<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
	<head>
		<title> PAMF breast health screening questionnaire - Page 0</title>
	</head>
{% include 'screener/header.html' %}
<div>
    <p>
        The information you enter in this questionnaire is kept confidential. It is transmitted and stored securely only inside the
        PAMF network. It will not be visible to unauthorized individuals or shared on the internet.
    </p>
   <p>
        By entering your name and birth date below, you are confirming that:<ul>
            <li>You understand and accept the terms and conditions of use of information you enter into this questionnaire.</li>
            <li>You have not already had genetic testing for BRCA1 or BRCA2 mutations.</li>
        </ul>
    </p>
    <p>
		Tap in the boxes below to display the keyboard and then type in your information.
    </p>
    {% if errmsg %}
		<p style="color: red;">
    	{{errmsg }}
		</p>
    {% endif %}
	    
	{% if form.errors %}
		<p style="color: red;">
			Please correct the error{{ form.errors|pluralize }} below.
		</p>
	{% endif %}
	<form action="" method="post" >{% csrf_token %}
		<div class="field">
            {{ form.patientName.errors }}
            <label for="id_patientName">My name is (last, first):</label>
            {{ form.patientName }}
        </div>
		<div class="field">
            {{ form.birthDate.errors }}
            <label for="id_birthDate">My birth date is (mm/dd/yyyy):</label>
            {{ form.birthDate }}
        </div>
		<div class="field">
            {{ form.ptEmailF.errors }}
            <label for="id_ptEmailF">My Email address is:</label>
            {{ form.ptEmailF }}
        </div>
			<a href="{{urlprefix}}scrn/{{back_to}}" target="_self">
			<button type="button">Back</button> </a>
			<input type="submit" value="Next">
	</form>
</div>
    {% include 'screener/footer.html' %}


<!--
Copyright 2012 Health Records for Everyone

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->