<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<!DOCTYPE html>
<html>
<body>
	<head>
		<title> PAMF breast health screening questionnaire - Page 1</title>
	</head>
{% include 'screener/header.html' %}
    <p style='font-size:Large;'><i>
       This questionnaire first asks about <a title="Tap here for more information about ovarian cancer"
                               href="{{urlprefix}}scrn/explanations/ovca">ovarian cancer</a>, because women with this condition have a higher chance of BRCA gene mutations.
    </i></p>
	{% if diagMess != "" %}
   <p>
    back to:  {{back_to}}
    diagMess:  {{diagMess}}
    </p>
	{% endif %}
<div>
    <table>
        <tr>
            <td width='50%' valign='top'>
				{% if form.errors %}
					<p style="color: red;">
						Please correct the error{{ form.errors|pluralize }} below.
					</p>
				{% endif %}
	<form action="" method="post" >{% csrf_token %}
		<div class="field">
            {{ form.pHxOvarianCA_form.errors }}
            <label for="id_pHxOvarianCA_form">Have you ever had ovarian cancer?</label>
            {{ form.pHxOvarianCA_form }}
        </div>
              <i style='font-size:Large;'>
                    This does not apply to the following types of cancer:<ul>
                        <li>Cancer of the cervix (cervical cancer)</li>
                        <li>Cancer in the lining of the uterus (uterine cancer)</li>
                    </ul>
                </i>
			<a href="{{urlprefix}}scrn/{{back_to}}" target="_self">
			<button type="button">Back</button> </a>
			<input type="submit" value="Next">
		</td>
	</form>
            <td width='50%'>
                <img src="{{ imageloc }}femaleReproductive.png" alt='female reproductive system image' height="300" />
            </td>
        </tr>
    </table>
    <br /><br />
</div>
    {% include 'screener/footer.html' %}
</body>
</html>

<!--
Copyright 2012 Health Records for Everyone

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->