<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
    <html>
    <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
{% include 'screener/header.html' %}
		<title> PAMF breast health screening questionnaire</title>
	</head>
<div>
 {% include 'screener/Summary pt info.html' %}
    <p>
         Thank you for completing our questionnaire! 
  </p>
    <p>
To assess your chances of carrying a BRCA mutation, <b><i>we need more information</i></b>. Please see the summary on the next page
     that shows your answers and the information you were unable to provide. 
    </p>
    <p>
        Once you gather that additional information, or if you cannot do so, we recommend that you
         talk with a {{projectAbbrev}}  genetic counseling professional. Please call for
         that appointment: {{projectContactPhone}}.
    </p>
    <p>
		{% if risk_list %}
        <ul>
			<p>Summary of your responses: I indicated that:</p>
        	{% for item in risk_list %}
        	<li>{{ item }}</li>
        	{% endfor %}
        </ul>
     	{% endif %}
    </p>
    <p>
		{% if indetermList %}
        <ul>
 			<p>However, I was <i><b>unable</b></i> to provide information about whether or not:</p>
       		{% for item in indetermList %}
        	<li>{{ item }}</li>
        	{% endfor %}
        </ul>
     	{% endif %}
    </p>
    <p>
If any of your answers need correction, click the "Back" box to return to the page needing correction. Enter your changes, and click the "Next" box to work through the survey again.  
    </p>
    <p>
        When your answers are correct, click the "Finish" box to save them.
    </p>
    <p>
    {% include 'screener/Summary other ways you can learn more.html' %}
    </p>

    <hr />
</div>
	<form action="" method="post">{% csrf_token %}
			<a href="{{urlprefix}}scrn/{{back_to}}" target="_self">
				Back </a>
				<input type="submit" value="Finish">
	</form>

<!--
Copyright 2012 Health Records for Everyone

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->